.profileContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profileUserInfo {
	padding: 5px;
	width: 100%;
	margin-bottom: 16px;
	text-align: center;
}

.profilePw {
	border: none;
}

.profileMypostsWrapper {
	background-color: #00b8a91c;
	margin-top: 32px;
	padding-bottom: 32px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profileMypostsWrapper h1 {
	margin-bottom: -36px;
}

.profileMypostsMore {
	width: 120px;
	justify-content: center;
	margin-top: 16px;
}

.profileBtns {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profileEdit {
	background-color: var(--koreoreGreen);
	margin-top: 16px;
	width: 100px;
}

.profileEdit:hover {
	filter: brightness(110%);
}

.profileLogout {
	background-color:var(--koreorePink);
	margin-top: 24px;
	width: 120px;
}

.profileLogout:hover {
	filter: brightness(110%);
}

button:active {
	position: relative;
	top: 2px;
}

.profileDelete {
	margin-top: 24px;
	background-color: #6d6d6d;
	border: none;
	width: 100px;
}

.profileDelete:hover {
	filter: brightness(120%);
}

.profileContactBtn {
	margin-top: 24px;
	background-color: #6d6d6d;
	border: none;
	width: 140px;
}

.profileDelete:hover {
	filter: brightness(120%);
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modalWindow {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 24px;
	min-width: 300px;
	max-width: 600px;
	text-align: center;
	z-index: 100;
}

.modal-content {
	padding: 10px;
	padding-bottom: 24px;
}

.userDeleteModalBtns {
	display: flex;
	justify-content: center;
	margin-right: 8px;
}

.userDeleteModalBtns button {
	width: 100px;

}

.userDeleteCloseBtn {
	background-color: var(--koreorePink);
	margin-right: 16px;
}

.noPost {
	margin-top: 32px;
	margin-bottom: 16px;
}